body {
  margin: 0;
  color: #f1f1f1;
  font-family: "Segoe UI", italic;
  font-weight: bold;
  font-size: 30px;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(18px);
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  color: white;
  padding: 30px;
}

header {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #151515;
  border-bottom: 1px solid #333;
}

.logo {
  height: 200px;
}

.slogan {
  padding: 3px 15px;
  color: #bbb;
  font-style: italic;
}

.services {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 15px;
}

.services div {
  background: linear-gradient(135deg,#222,#111);
  padding: 14px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

.gallery {
  width: 50px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
  gap: 5px;
  padding: 5px;
}

.gallery img {
  width: 50%;
  border-radius: 30px;
  max-width: 50%;
  height: auto;
}

.before-after {
  padding: 20px;
}

.compare {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.compare img {
  width: 100%;
  border-radius: 200px;
  max-width: 100%;
  height: auto;
  padding: 15px;
}

.map {
  padding: 15px;
}

.map iframe {
  width: 100%;
  max-width: 100%;
  height: 300px;
  border: 0;
  border-radius: 20px 20px 20px 20px;
}

.tarifs {
  padding: 15px;
  display: grid;
  gap: 12px;
}

.tarifs div {
  background: #181818;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #333;
}

.reservation-form {
  padding: 15px;
  display: grid;
  gap: 10px;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
  padding: 12px;
  background: #111;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
}

.reservation-form button {
  padding: 14px;
  background: #128C7E;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn {
  display: block;
  margin: 15px;
  padding: 14px;
  background: #25D366;
  color: white;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp {
  position: fixed;
  bottom: 40px;
  padding: 14px;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.w1 { right: 20px; background:#25D366; }
.w2 { right: 80px; background:#128C7E; }

.social.facebook {
  display: block;
  margin: 15px;
  padding: 12px;
  background: #1877F2;
  color: white;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

